.main-body
{
background-image:linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
height: 300px;
width:900px;
margin:auto;
text-align: center;
padding-bottom:30px;
}
.first-description{
  text-align:center;
  font-size: 30px;
  color:white;
}
.para1
{
  text-align:center;
  font-size: 15px;
  color:white;
}
.second-part{
  height: 500px;
  width:900px;
  margin:auto;
  background-color:#f6f5f5;
}
.left-container{
  text-align:left;
  padding:5%;
}
.right-container{
  text-align:left;
  margin-left: 400px;
}
.icon
{
  font-size: 20px;
  color:blue;
}
.col-lg-4
{
  padding:3% 2%;
}
.icon{
  padding:20px;
}
.row
{
  margin:2% 2%;
}
.card{
  padding:3% 2%;
}
.blank-part{
  height:165px;
  width:900px;
  margin:auto;
}
.third-part{
  background-image:linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  height:300px;
  width:900px;
  margin:auto;
  color:white;
}
.forth-part{
  height:400px;
  width:900px;
  margin:auto;
  background-color:#f6f5f5;
}
.cards-images
{
  padding:5% 2%;
}
